@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin                 : 0;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : theme('colors.black');
  color                  : white;
  font-family            : 'Urbanist', sans-serif;
}

b {
  @apply block;
}

input,
select {
  @apply bg-transparent py-1 px-1 border-gray-500 border-b text-white;
}

option {
  @apply text-[black] hover:bg-[#aaaaaa];

}

button {
  @apply shadow-[1px_1px_white] hover:shadow-none hover:bg-white hover:text-[black] transition-all bg-transparent py-1 px-5 rounded-2xl border-gray-500 border;

}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

section {
  padding: 0 15%;
}

img.logo {
  filter: invert(1) hue-rotate(183deg);
}

input {
  display: block;
}